---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
import { fetchTopAnimes, fetchSeasonAnimes } from '../lib/api.js';

let topAnimes = [];
let seasonAnimes = [];
let error = null;

try {
  topAnimes = await fetchTopAnimes();
} catch (err) {
  error = 'Error al cargar los animes top';
}

try {
  seasonAnimes = await fetchSeasonAnimes();
} catch (err) {
  error = 'Error al cargar los animes de temporada';
}

// Mapeo de para obtener los datos de de Top Animes 
const topanimes = topAnimes.map((anime: { title: any; images: { jpg: { large_image_url: any; }; }; score: any; mal_id: any; }) => ({
  title: anime.title,
  image: anime.images.jpg.large_image_url, // URL de la imagen
  score: anime.score,
  id: anime.mal_id
}));

// Mapeo de para obtener los datos de de Animes de Temporada
const seasonanimes = seasonAnimes.map((anime: { title: any; images: { jpg: { large_image_url: any; }; }; score: any; mal_id: any; }) => ({
  title: anime.title,
  image: anime.images.jpg.large_image_url, // URL de la imagen
  score: anime.score,
  id: anime.mal_id
}));
---

<Layout title="Inicio">
  <main class="px-4 md:px-8 lg:px-16">
    {error ? (
      <p>{error}</p>
    ) : (
      <>
        <Slider title="Top Animes" animes={topanimes} />
        <Slider title="Animes de Temporada" animes={seasonanimes} />
      </>
    )}
  </main>
</Layout>